/* FirstPost.module.css */

.firstpost {
    margin: 50px 10px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .info {
    min-height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 650px; /* Added max-width to limit width on larger screens */
  }
  
  .image {
    border-radius: 10px;
    object-fit: contain;
    overflow: hidden;
    transition: transform 0.2s;
    width: 100%;
    max-width: 700px; /* Added max-width to limit width on larger screens */
  }
  
  .image img {
    max-width: 100%;
  }
  
  .image:hover {
    transform: translate(0px, -8px);
  }
  
  .category {
    font-size: 14px;
    width: 100px;
    color: #db005b;
    font-weight: bold;
    margin: 10px;
  }
  
  .title {
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
    color: rgb(37, 35, 35);
  }
  
  .description {
    font-style: italic;
    font-size: 15px;
    margin: 10px;
    color: rgb(79, 77, 77);
  }
  
  .button {
    cursor: pointer;
    width: 120px;
    font: inherit;
    margin: 10px;
    padding: 5px;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 768px) {
    .firstpost {
      flex-direction: column;
      align-items: center;
    }
  
    .info {
      max-width: 100%; /* Remove the max-width to allow full width on smaller screens */
    }
  
    .image {
      max-width: 100%; /* Remove the max-width to allow full width on smaller screens */
    }
  
    .category {
      width: auto; /* Allow the category to adjust its width on smaller screens */
    }
  }
  