

@font-face {
    font-family: ArtNuvo;
    src: url(../resources/fonts/FontsFree-Net-Art-nuvo.ttf);
  }

  .navbar {
    color: #ffff;
    font-size: 17.5px;
    padding: 20px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 40px;
    background-color: #b70404;
}

.logo {
  display: flex;
  font-family: ArtNuvo;
  align-items: center;
  animation: bounce 1s infinite;
}

  .links {
    display: flex;
  }

.list {
  font-size: 16px;
    margin-left: 20px;
    list-style: none;
    
}

.list:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}




.mobilelinks {
    color: #ffff;
    display: none;
}

.navIcons {
    display: none;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }


@media (max-width: 800px) {
    .links {
        display: none;
    }
    .list {
      display: none;
    }

    .logo h1 {
      display: none;
    }
    
    
    .navbar {
        
        font-size: 17.5px;
        padding: 10px;
        margin-bottom: 0;
        
        
    }
    
    .mobilelinks {
        background-color: #ffff;
        color: #ffff;
        position: absolute;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        height: 90vh;
        justify-content: flex-start;
        padding: 10px 0;
    }

    .mobilelink {
        box-shadow: rgba(100, 40, 40, 0.35) 0px 5px 15px;
        border: 1px solid #f70404;
        text-align: center;
        padding: 10px;
        margin: 2px auto;
        background-color: #b70404;
        width: 70%;
        margin-bottom: 40px;
    }
    
    .navIcons {
        display: block;
    }
  }