/* BlogPost.module.css */

.pageContent{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 10px ;
}

.blog-container {
    max-width: 850px;
    margin: 40px;
    padding: 30px;
    font-family: 'PT Serif', serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
 
  .blog-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .image-container {
    width: 640px;
    margin: 40px auto;
    overflow: hidden;
  }
  
  .blog-content {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 16px;
  }

  .blog-content p {
    margin: 10px 0;
  }

  .blog-content strong {
    padding-top: 40px;
    font-size: 20px;
  }

  .blog-content h2 {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {

    .pageContent{
      display: block;
    }

    .image-container {
      width: 100%;
    }

    .blog-container {
      margin: 5px;
    }
  }
  

  
  /* Additional styles for author info, cover photo, etc. can be added here */
  